@use 'sass:math' as math;
@use 'sass:color' as color;
@use '../../styles/index' as *;

form.signin-form {
    background-color: $form-background-color;
    border: 1px solid $form-border-color;
    backdrop-filter: $form-backdrop-filter;
    padding: $padding-lg;
    border-radius: 0.8rem;
    gap: $gap-md;
    max-width: 400px;
    width: 100%;
    @include flex(center, center, column);
    @include box-shadow(0, 0, 10px, 2px, $form-shadow-color);

    >h1.signin-form-title {
        color: color.adjust($page-text-color, $lightness: 25%);
        font-family: $font-family;
        font-size: $font-size-xl;
        font-weight: 700;
        margin-bottom: $margin-md;
        text-align: center;
    }

    > div.input-container {
        width: 100%;
        position: relative;
        margin-bottom: $margin-md;

        > input.input-field {
            width: 100%;
            background-color: $form-input-background;
            font-family: $font-family;
            font-size: $font-size-md;
            color: $form-placeholder-color;
            padding: $padding-sm;
            border: none;
            outline: none;
            @include transition(all 0.3s ease-in-out);
            @include border-bottom-inset($form-border-color, 1px);

            &:focus {
                border-color: color.adjust($form-button-background, $lightness: -20%);
                background-color: color.adjust($form-input-background, $lightness: 10%);
            }

            &:focus+label.input-label {
                top: -28%;
                left: 2%;
                font-size: calc($font-size-md - 0.2rem);
            }
        }

        > label.input-label {
            position: absolute;
            left: 3%;
            top: 25%;
            font-family: $font-family;
            font-size: $font-size-md;
            color: $form-placeholder-color;
            pointer-events: none;
            background: transparent;
            @include transition(all 0.3s ease);
        }
    }

    > span.forgot-password-link {
        margin-top: -$margin-md;
        font-family: $font-family;
        font-size: $font-size-md;
        color: $form-placeholder-color;
        font-weight: 500;
        align-self: flex-end;
        margin-right: $margin-sm;
        text-decoration: underline;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
            color: color.adjust($form-button-background, $lightness: -10%);
        }
    }

    > label.remember-me-container {
        width: 100%;
        @include flex(center, start);
        position: relative;
        gap: $gap-sm;
        padding: 0.1rem;

        > span:not(.switch) {
            font-size: $font-size-md;
            color: $form-placeholder-color;
        }

        > input[type="checkbox"] {
            display: none; // Nascondi il checkbox di default
        }

        > span.switch {
            width: 3rem;
            height: 1.5rem;
            background-color: color.adjust($form-background-color, $lightness: -25%);
            border-radius: 3rem;
            position: relative;
            cursor: pointer;
            @include transition(background-color 0.3s ease-in-out);

            &:before {
                content: '';
                width: 1.2rem;
                height: 1.2rem;
                border-radius: 50%;
                background-color: white;
                position: absolute;
                top: 50%;
                left: 2%;
                transform: translateY(-50%);
                @include transition(left 0.3s ease-in-out);
            }
        }

        > input[type="checkbox"]:checked+.switch {
            background-color: $form-input-background;
        }

        > input[type="checkbox"]:checked+.switch:before {
            left: 55%;
        }
    }

    > button.submit-button {
        margin-top: $margin-md;
        width: 100%;
        padding-block: calc($padding-md - 0.2rem);
        background-color: $form-button-background;
        color: $form-button-text-color;
        border: none;
        border-radius: math.div($border-radius-df, 3);
        font-family: $font-family;
        font-size: $font-size-md;
        font-weight: 600;
        cursor: pointer;
        @include flex(center, center);
        @include transition(background-color 0.3s ease, transform 0.2s ease);

        &:hover {
            background-color: color.adjust($form-button-background, $lightness: -10%);
        }

        &:active {
            transform: scale(0.98);
        }
    }

    > div.social-login-container {
        width: 100%;
        margin-top: $margin-md;
        gap: $gap-md;
        @include flex(center, space-between);

        >span.social-icon {
            flex: 1;
            padding: $padding-md $padding-lg;
            border-radius: 0.4rem;
            background-color: $form-social-background;
            color: $form-social-text-color;
            font-size: 1.2rem;
            cursor: pointer;
            @include flex(center, center);
            @include transition(all 0.3s ease);

            &:hover {
                background-color: $form-social-hover-background;
                color: $form-social-hover-text-color;
                transform: scale(1.1);
            }
        }
    }

    > span.signup-prompt {
        font-family: $font-family;
        font-size: 0.95rem;
        font-weight: 400;
        margin-top: $margin-md;
        color: $form-placeholder-color;
        text-align: center;
        @include flex(center, center);
        gap: $gap-sm;

        >strong {
            position: relative;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $form-border-color;
                @include transition(width 0.3s ease-in-out);
            }

            &:hover::before {
                width: 100%;
            }
        }
    }
}
