@use 'sass:math' as math;
@use 'sass:color' as color;
@use '../../styles/index' as *;

main.main-page{
    width: 100%;
    min-height: 100vh;
    @include flex(center, start);   
    padding: $padding-md;
    background-color: $page-background-color;
    position: relative;
}