@use 'sass:math' as math;
@use 'sass:color' as color;
@use '../../styles/index' as *;

nav.categories-navbar {
    width: 100%;
    @include flex(center, start);
    background-color: $navbar-background-color;
    color: $navbar-text-color;
    border-bottom: 1px solid $navbar-border-color;
    @include box-shadow(0, 0, 4px, 0, $shadow-navbar);


    > span.categories-span {
        flex-shrink: 0;
        padding: calc($padding-sm - 0.2rem) $padding-sm;
        font-size: $font-size-md;
        font-family: $font-family;
        white-space: nowrap;
        color: $secondary-color;
        background-color: transparent;
        text-align: center;
        @include transition(all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1));
    
        &:hover {
            background-color: color.adjust($accent-color, $lightness: -15%);
            color: $accent-text-color;
            @include box-shadow(0, 0, 4px, 0, rgba(0, 0, 0, 0.16));

            cursor: pointer;
        }
    }
}

