@use 'sass:math' as math;
@use '../../styles/index' as *;

header {
    background-color: scale-color($header-background-color, $lightness: 10%);
    padding: $padding-md;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: $gap-md;
}

header > img.homepage_logo {
    width: 3rem;
    height: 3rem;
    border-radius: $border-radius-circled;
    object-fit: cover;
    @include box-shadow()
}

header > h1.homepage_title{
    font-size: $font-size-xxl;
    font-style: italic;
    color: $header-text-color;
    margin-inline: -0.4rem 1rem;
}

header > nav {
    display: flex;
    gap: $gap-sm;
}

header > nav > div.lang_container{
    position: relative;
    @include flex();
}

div.lang_container > button.lang_button{
    font-size: $font-size-lg;
    background-color: transparent;
    border: none;
    border-radius: $border-radius-circled;
    @include flex();
    @include transition(all 0.4s ease-in-out);

    &:hover{
        background-color: scale-color($header-border-color, $lightness: -10%);
        color: $header-text-color;
        cursor: pointer;
        outline: none;
    }
}

